@import url("../shopkeeper/style.css");
/*
 Theme Name: Shopkeeper Child
 Theme URI: http://shopkeeper.getbowtied.com/
 Description: This is a child theme for Shopkeeper.
 Author: Get Bowtied
 Author URI: http: //www.getbowtied.com/
 Template: shopkeeper
 Version: 1.0
 */
/****************************************************************/
/*************** ADD YOUR CUSTOM CSS IN THIS AREA ***************/
/****************************************************************/
/* FONTS */
@font-face {
  font-family: 'Avenir Next';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Regular.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir-Book';
  src: url('/wp-content/themes/shopkeeper-child/fonts/Avenir-Book.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/Avenir-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Ultra';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-UltraLightItalic.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-UltraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-BoldItalic.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Heavy.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Bold.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Ultra';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-UltraLight.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Demi';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-DemiBoldItalic.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-DemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next Demi';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-DemiBold.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Italic.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-HeavyItalic.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-MediumItalic.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Avenir Next';
  src: url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Medium.woff2') format('woff2'), url('/wp-content/themes/shopkeeper-child/fonts/AvenirNext-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal; }
/* HEADINGS */
h1, h2, h3, h4, h5, p, a, li {
  /*font-family: 'Avenir Next'!important;*/
  font-family: 'Avenir-Book' !important; }

h4, h5, b {
  font-weight: 500 !important; }

strong {
  font-family: 'Avenir-Book' !important;
  font-weight: bold !important; }

li {
  font-weight: 400 !important; }
/* HOME */
.home .site-title {
  display: none; }
  .home h2 {
    font-weight: 500;
    font-size: 35px; }
/* NAV */
.site-title {
  font-family: 'Avenir-Book' !important;
  font-weight: medium !important;
  letter-spacing: 1px; }

.site-header {
  background: transparent !important; }

.main-navigation > ul > li.menu-item-has-children > a:after {
  display: none !important; }

.main-navigation > ul > li.menu-item-has-children {
  margin-right: 0px !important; }

#page_wrapper.transparent_header.transparency_light .site-header .main-navigation a, .main-navigation ul li a {
  /*font-weight:500!important;*/ }

.main-navigation ul li a {
  font-weight: bold !important;
  font-size: 14px !important; }

.tools_button_icon i {
  margin-top: 8px;
  display: inline-block;
  font-size: 20px !important; }
/* DROPDOWN */
.main-navigation ul ul {
  background: transparent !important;
  padding: 10px 35px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }
/* GLOBAL */
/*.home .site-content{
 max-width:100%!important;
 margin:0 auto;
 }
 .site-content{
 max-width:1425px!important;
 margin:0 auto;
 }*/
/* Remove redundant padding around content */
.vc_column_container > .vc_column-inner {
  padding-left: 0px;
  padding-right: 0px; }

.entry-header-page {
  margin-bottom: 20px !important; }

.column, .columns {
  width: 100%;
  float: left;
  padding-right: 0rem !important;
  padding-left: 0rem !important; }

.shop_header {
  max-width: 1425px !important;
  margin: 0 auto; }
  .shop_header .row {
    padding: 15px 15px 15px 16px !important; }

.catalog_top {
  padding: 0 !important; }

.tob_bar_shop {
  margin-bottom: 8px !important; }

.content-area {
  padding: 0px 0 0 0 !important; }
/* HIDE TITLES */
.on-shop {
  /*display:none;*/ }
/* SHOP */
.archive h1.on-shop {
  text-align: left;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 63px;
  margin-bottom: 4px;
  /*padding-left: 3px;
   padding-right: 3px;*/ }

.archive h1.on-shop:after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 5px;
  background-color: #000;
  height: 1px; }

.shop_header .column, .shop_header .columns {
  padding-right: 15px !important;
  padding-left: 11px !important; }

.content-area {
  padding-left: 10%;
  padding-right: 10%; }

.products-grid .column {
  padding-left: 2%;
  padding-right: 2%; }

.product_summary_middle h1 {
  font-weight: 500 !important;
  font-size: 25px !important; }

.catalog-ordering {
  display: none; }

.product_after_shop_loop_buttons a {
  font-weight: 600 !important; }

.product_meta {
  display: none !important; }

p.price span {
  font-weight: 500 !important;
  font-size: 18px !important; }

.product_layout_2 .product:not(.product-type-grouped) .product_content_wrapper .product_infos form.cart .quantity.custom {
  text-align: center;
  margin: 0 auto;
  display: block; }

.product_layout_2 .product:not(.product-type-grouped) .product_content_wrapper .product_infos form.cart .quantity.custom ~ .button {
  width: 100%;
  text-align: center;
  margin-top: 10px; }

.product_layout_2 .product_content_wrapper .woocommerce-tabs ul.tabs li {
  margin: 0px !important; }

.woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
  margin: 0 !important; }

.woocommerce-checkout .page-title, .woocommerce-order-received h2, .woocommerce-customer-details .woocommerce-column__title {
  font-weight: 300 !important; }

.woocommerce-breadcrumb {
  display: none !important; }

.tob_bar_shop {
  margin-top: 0px; }

.shop_header {
  margin-bottom: 0px !important; }

.woocommerce .column, .woocommerce .columns {
  width: 100%;
  float: left;
  padding-right: 0.625rem !important;
  padding-left: 0.625rem !important;
  overflow: hidden; }

.woocommerce ul.products-grid, .woocommerce-page ul.products-grid {
  margin: 0px -14px 16px !important; }

.woocommerce div.product {
  margin-top: 80px; }
/* POPUP */
.pum-container.pum-responsive.pum-responsive-medium {
  margin-left: -197px !important;
  width: 345px !important;
  top: 35px !important; }

.pum-theme-3220 .pum-title, .pum-theme-lightbox .pum-title {
  color: #000;
  text-align: left;
  text-shadow: 0px 0px 0px rgba(2, 2, 2, 0.23);
  font-family: inherit;
  font-size: 21px;
  line-height: 36px;
  padding-bottom: 10px; }

.pum-theme-3220 .pum-container, .pum-theme-lightbox .pum-container {
  padding: 18px;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 1.00); }

.pum-theme-3220 .pum-container, .pum-theme-lightbox .pum-container {
  padding: 50px;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 1.00); }

.pum-container.pum-responsive.pum-responsive-medium {
  margin-left: -21%;
  width: 42%; }

.pum-theme-3220 .pum-content + .pum-close, .pum-theme-lightbox .pum-content + .pum-close {
  height: 30px;
  width: 30px;
  left: auto;
  right: -24px;
  bottom: auto;
  top: -24px;
  padding: 0px;
  color: #fff;
  font-family: inherit;
  font-size: 28px !important;
  line-height: 26px;
  border: none;
  border-radius: 30px;
  box-shadow: none !important;
  text-shadow: none !important;
  background-color: transparent; }
/* ABSTRACT */
#abstract-section {
  margin: 0 auto;
  max-width: 1425px;
  padding: 0px 0px 0px 0px; }
  #abstract-section h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase; }
  #abstract-section hr {
    max-width: 100% !important;
    margin: -3px auto;
    border-bottom: 1px solid #000; }
  #abstract-section .vc_column_container > .vc_column-inner {
    padding-left: 0px !important;
    padding-right: 0px !important; }
/* CONTEMPORARY */
#contemporary-section {
  margin: 0 auto;
  max-width: 1425px;
  padding: 0px 0px 0px 0px; }
  #contemporary-section h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase; }
  #contemporary-section hr {
    max-width: 100% !important;
    margin: -3px auto;
    border-bottom: 1px solid #000; }
  #contemporary-section .vc_column_container > .vc_column-inner {
    padding-left: 0px !important;
    padding-right: 0px !important; }
/* PORTFOLIO */
.portfolio-title, .portfolio-categories {
  display: none; }

.foogallery {
  margin-top: 15px; }

.fg-default.fg-gutter-15 .fg-item {
  margin-right: 11px !important; }

.foogallery.fg-light.fg-shadow-outline .fg-item-inner {
  box-shadow: none !important; }

.fbx-modal .fbx-error-msg > span, .fbx-modal .fbx-loader > div, .fbx-modal a.fbx-close, .fbx-modal a.fbx-next, .fbx-modal a.fbx-prev {
  font-family: foobox !important; }

.foogallery .fg-caption-title, .fg-caption-desc {
  display: none; }

.fbx-caption {
  display: none; }

.fbx-rounded.fbx-desktop .fbx-next, .fbx-rounded.fbx-desktop .fbx-prev {
  background: none !important; }

.fbx-rounded .fbx-next.fbx-btn-shadow, .fbx-rounded .fbx-next.fbx-btn-shadow:hover, .fbx-rounded .fbx-prev.fbx-btn-shadow, .fbx-rounded .fbx-prev.fbx-btn-shadow:hover {
  box-shadow: none; }

.fbx-light .fbx-close {
  background: none; }

.fbx-rounded.fbx-light .fbx-close {
  border: none;
  background: none;
  box-shadow: none; }

.fbx-modal.fbx-phone.fbx-rounded .fbx-btn-shadow {
  background-color: #000 !important; }

.fbx-rounded .fbx-close {
  top: -31px;
  right: -34px;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: 3px solid transparent;
  border-radius: 50%;
  color: #fff !important; }

.fbx-rounded .fbx-item-image {
  border-radius: 0px !important; }

.fbx-light .fbx-close, .fbx-light .fbx-close:before, .fbx-light .fbx-error-msg, .fbx-light .fbx-fullscreen-toggle, .fbx-light .fbx-fullscreen-toggle:before, .fbx-light .fbx-loader, .fbx-light .fbx-loader:before, .fbx-light .fbx-next, .fbx-light .fbx-next:before, .fbx-light .fbx-pause, .fbx-light .fbx-pause:before, .fbx-light .fbx-play, .fbx-light .fbx-play:before, .fbx-light .fbx-prev, .fbx-light .fbx-prev:before, .fbx-light .fbx-social-toggle, .fbx-light .fbx-social-toggle:before, .fbx-light.fbx-inset-buttons .fbx-next:before, .fbx-light.fbx-inset-buttons .fbx-prev:before, .fbx-metro.fbx-light .fbx-count, .fbx-metro.fbx-light .fbx-credit a {
  color: #fff !important; }

.fbx-loader {
  display: none; }

#post-547 .row, #post-2939 .row {
  padding: 0; }

.foogallery {
  padding-left: 11px !important; }

.fg-default.fg-gutter-20 .fg-item {
  margin-right: 0px; }

.fbx-rounded .fbx-prev {
  left: -320px; }

.fbx-rounded .fbx-close {
  right: -310px; }

.fbx-rounded .fbx-next {
  right: -310px; }
/* BUTTON */
a.popup-button {
  background: #000;
  padding: 15px 20px 15px 20px;
  display: block;
  color: #fff !important;
  margin: 0 auto;
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px; }

a.popup-button:hover, a.popup-button:active {
  background: #141414;
  color: #fff !important; }

body .portfolio-thumb:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  display: block;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  transition: all ease 0.3s; }

.hover-effect-content .hover-effect-title, .wpb_wrapper h2.hover-effect-title {
  font-size: 1.6rem !important; }

.hover-effect-link {
  cursor: default !important; }
/* BIO */
#bio {
  max-width: 1425px;
  margin: 0 auto; }

#bio h5 {
  font-size: 16px; }

.artist-bio {
  text-align: justify; }
/* NEWS */
.blog .page-title {
  padding-bottom: 9px; }
  .blog .site-content {
    max-width: 1425px;
    margin: 0 auto; }
  .blog .xlarge-8 {
    width: 100%; }
  .blog .xxlarge-10 {
    width: 100%; }
  .blog h1 {
    font-size: 25px !important;
    margin-top: 78px !important;
    font-weight: 600 !important;
    text-align: left;
    text-transform: uppercase; }
  .blog h1:after {
    content: "";
    display: block;
    width: 100%;
    margin-top: 6px;
    background-color: #000;
    height: 1px; }
  .blog .row {
    padding: 0 20px; }
  .blog .cat-item {
    display: none; }
  .blog .index-layout-2 ul.blog-posts {
    list-style-type: none;
    margin: 0;
    max-width: 1425px;
    margin: 0 auto; }
  .blog .column, .blog .columns {
    padding-right: 0px;
    padding-left: 0px; }
  .blog .index-layout-2 ul.blog-posts .blog-post:last-child article {
    margin-bottom: 50px; }
  .blog .index-layout-2 ul.blog-posts .blog-post article .post-categories li a {
    display: none; }

.blog-post .entry-title {
  font-size: 25px !important;
  font-weight: 500 !important; }

.single-post .row .row {
  margin-right: 0rem;
  margin-left: 0rem; }

.single-post-header .entry-title {
  font-size: 25px !important;
  font-weight: 500 !important; }

.index-layout-2 ul.blog-posts .blog-post:first-child .bg-image-wrapper, .index-layout-2 ul.blog-posts .blog-post:nth-child(5n+5) .bg-image-wrapper {
  height: 353px !important;
  width: 100% !important; }

.index-layout-2 ul.blog-posts .blog-post:first-child .post_content_wrapper, .index-layout-2 ul.blog-posts .blog-post:nth-child(5n+5) .post_content_wrapper {
  padding: 0px 0px !important; }

#bwg_container1_0 #bwg_container2_0 .bwg_standart_thumb_spun1_0 {
  padding: 10px !important; }

.post-date {
  display: none; }

.index-layout-2 ul.blog-posts .blog-post .post_content_wrapper .post_content .read_more:before {
  width: 0px;
  display: none !important; }

.read_more {
  letter-spacing: 3px;
  font-weight: 400 !important; }

.post-categories, .list_categories {
  /*display:none;*/ }
/* BLOG NEWS PAGE */
.news-details .entry-title {
  font-size: 25px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
  text-align: left !important;
  float: left; }
  .news-details hr {
    max-width: 100% !important;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000; }
  .news-details .post_meta {
    float: right;
    line-height: 51px;
    color: #000;
    font-size: 23px !important;
    font-size: 12px !important; }
    .news-details .post_meta a {
      border-bottom: 0px;
      font-weight: 600 !important; }
    .news-details .post_meta a:hover {
      border-bottom: 0px; }

.news-section .xxlarge-6 {
  width: 60%; }

.single .xxlarge-6 {
  width: 100%; }

.header-news {
  margin-top: 75px; }
  .header-news .column, .header-news .columns {
    padding-right: 0rem;
    padding-left: 0rem; }
  .header-news h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase; }
  .header-news hr {
    max-width: 100% !important;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000; }

.single-post-header-overlay {
  background: transparent !important; }

.nav-next a, .nav-previous a {
  font-weight: 500 !important; }

.single-post-header.with-thumb {
  margin: 0 auto;
  margin-top: -85px;
  margin-bottom: 40px !important;
  position: relative;
  /* max-width: 1425px; */
  width: 90%;
  min-height: 262px !important; }

.single-post-header.with-thumb {
  margin-top: 0 !important;
  margin-bottom: 90px;
  position: relative; }

.single-post-header-bkg {
  width: 100% !important;
  margin: 0 auto; }

.single-post-header.with-thumb .title {
  margin: 238px 0 0px 0 !important;
  padding: 50px 10px 10px 10px !important;
  background: #fff;
  opacity: 0.6; }

.single-post-header.with-thumb .entry-title {
  color: #000 !important; }

.single-post-header.with-thumb .post_meta {
  color: #000 !important; }

.single-post-header.with-thumb .post_meta a {
  color: #000 !important;
  font-weight: 400 !important; }

.post_meta:before {
  margin: 24px auto 28px !important;
  border-bottom: 0px !important; }

.post_meta {
  margin-bottom: 0px !important; }

.post_meta:before {
  display: none !important; }

.single-post-header.with-thumb {
  margin-top: 36px !important;
  min-height: 600px; }

.single-post-header.with-thumb .title {
  padding: 225px 0 220px 0;
  position: absolute !important;
  right: 0;
  bottom: 0;
  width: 100%; }

.single-post-header.with-thumb .post_meta a:hover {
  color: #000 !important; }

.single-post-header.with-thumb .entry-title {
  text-transform: uppercase;
  text-align: left;
  margin-left: 60px; }

.single-post-header.with-thumb .entry-title:after {
  content: "";
  display: block;
  width: 90%;
  margin-top: 5px;
  background-color: #000;
  height: 1px; }

.single-post-header-bkg {
  /*webkit-background-size: inherit!important;
   background-size:inherit !important;*/ }
/* BLOOM */
.bloom-subscribe {
  background: #f7f7f7;
  width: 100%;
  padding: 50px 0 50px 0; }
  .bloom-subscribe h4 {
    padding-bottom: 20px; }

.et_bloom .et_bloom_optin_2 .et_bloom_form_content button {
  background-color: #fff !important;
  padding: 14px; }
/* CONTACT */
.contact {
  margin: 0 auto;
  max-width: 1425px; }
  .contact h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
  .contact hr {
    max-width: 100% !important;
    margin: 4px auto;
    border-bottom: 1px solid #000; }

.contact-form {
  margin: 0 auto;
  max-width: 1409px; }
  .contact-form .vc_column_container > .vc_column-inner {
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 5px;
    width: 100%; }

#contact-body {
  max-width: 1425px !important; }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* GLOBAL */
  /* NEWS */
  /* BLOG */
  /* SHOP */
  /* FOO GALLERY POPUP */
    .site-title {
      font-size: 38px !important; }
    .home h2 {
      font-weight: 500;
      font-size: 65px; }
    .column, .columns {
      width: 100%;
      float: left;
      padding-right: 0rem !important;
      padding-left: 0rem !important; }
    .index-layout-2 .with-sidebar ul.blog-posts .blog-post:first-child .bg-image-wrapper, .index-layout-2 .with-sidebar ul.blog-posts .blog-post:nth-child(5n+5) .bg-image-wrapper {
      height: 260px !important;
      width: 48% !important; }
    #post-547 .row, #post-2939 .row {
      padding: 0; }
    .foogallery {
      padding-left: 13px !important; }
    .fg-default.fg-gutter-20 .fg-item {
      margin-right: 20px; }
    .single-post-header.with-thumb {
      min-height: 458px !important;
      width: 87%; }
    .blog .row {
      padding: 0 50px; }
    .shop_header .column, .shop_header .columns {
      padding-right: 36px !important;
      padding-left: 36px !important; }
    .woocommerce .column, .woocommerce .columns {
      overflow: visible !important; }
    .fbx-rounded .fbx-close {
      right: -43px; }
    .fbx-rounded .fbx-prev {
      left: -43px; }
    .fbx-light .fbx-prev, .fbx-light .fbx-next {
      background-color: transparent; }
    .fbx-rounded .fbx-next {
      right: -43px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* GLOBAL */
  /* BLOG */
  /* FOO GALLERY POPUP */
  /* SHOP */
  /* NEWS PAGE */
  /* ABSTRACT */
  /* CONTEMPORARY */
    .index-layout-2 ul.blog-posts .blog-post:first-child .post_content_wrapper, .index-layout-2 ul.blog-posts .blog-post:nth-child(5n+5) .post_content_wrapper {
      padding: 116px 50px !important; }
    .vc_column_container > .vc_column-inner {
      padding-left: 19px;
      padding-right: 19px; }
    .column, .columns {
      width: 100%;
      float: left;
      padding-right: 0.625rem !important;
      padding-left: 0.625rem !important; }
    .blog .row {
      padding: 0 20px; }
    .fbx-rounded .fbx-close {
      right: -50px; }
    .fbx-rounded .fbx-prev {
      left: -50px; }
    .fbx-rounded .fbx-next {
      right: -50px; }
    .woocommerce ul.products-grid, .woocommerce-page ul.products-grid {
      margin: 0px -10px 0px !important; }
    .shop_header .column, .shop_header .columns {
      padding-right: 0px !important;
      padding-left: 4px !important; }
    .shop_header .column, .shop_header .columns {
      padding-right: 0px !important;
      padding-left: 0px !important; }
    .single-product .product_content_wrapper .column, .single-product .product_content_wrapper .columns {
      width: 66.6%; }
    .contact-form {
      margin: 0 auto;
      max-width: 1409px; }
      .contact-form .vc_column_container > .vc_column-inner {
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 15px;
        width: 100%; }
    .news-details .post_meta {
      line-height: 14px; }
    .single .xxlarge-6 {
      width: 60%; }
    .news-details .post_meta {
      font-size: 23px !important; }
    .single-post-header.with-thumb {
      margin: 0 auto;
      margin-top: -85px;
      margin-bottom: 40px !important;
      position: relative;
      /*max-width: 1425px;*/
      max-width: 1000px;
      min-height: 600px !important; }
    #abstract-section {
      margin: 0 auto;
      max-width: 1425px;
      padding: 0px 23px 0px 18px; }
      #abstract-section h1 {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase; }
      #abstract-section hr {
        max-width: 100% !important;
        margin: -3px auto;
        border-bottom: 1px solid #000; }
    #contemporary-section {
      margin: 0 auto;
      max-width: 1425px;
      padding: 0px 23px 0px 18px; }
      #contemporary-section h1 {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase; }
      #contemporary-section hr {
        max-width: 100% !important;
        margin: -3px auto;
        border-bottom: 1px solid #000; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1500px) {
  /* FOO GALLERY POPUP */
  /* CONTACT */
    .fbx-rounded .fbx-close {
      right: -300px; }
    .fbx-rounded .fbx-prev {
      left: -300px; }
    .fbx-rounded .fbx-next {
      right: -300px; }
    .contact-form {
      margin: 0 auto;
      max-width: 1409px; }
      .contact-form .vc_column_container > .vc_column-inner {
        box-sizing: border-box;
        padding-left: 12px;
        padding-right: 15px;
        width: 100%; } }
/* X Large devices (large desktops, 1200px and up) */
@media (min-width: 2000px) {
  /* FOO GALLERY POPUP */
    .fbx-rounded .fbx-close {
      right: -500px; }
    .fbx-rounded .fbx-prev {
      left: -500px; }
    .fbx-rounded .fbx-next {
      right: -500px; } }
/* X Large devices (large desktops, 1200px and up) */
@media (min-width: 2400px) {
  /* FOO GALLERY POPUP */
    .fbx-rounded .fbx-close {
      right: -700px; }
    .fbx-rounded .fbx-prev {
      left: -700px; }
    .fbx-rounded .fbx-next {
      right: -700px; } }
/****************************************************************/
/****************************************************************/
/****************************************************************/
